 
    <div id="main_img">
        <div id="img">
        </div>
    </div>
    <div id="register_outer">
        <div id="reg_img">
            </div>
        <div id="reg_form"> 
            <br><br>
<h1><b>Register As Voluntary Blood Donar</b></h1>
<form method="post" action="#" enctype="multipart/form-data">
<table>
<tr>
<td>Name:</td><td><input type="text" name="name"><br></td>
</tr>
<tr>
<td>Gender:</td><td><input type="radio" name="gender" value="Male"/>Male &nbsp; &nbsp;
	   <input type="radio" name="gender" value="Female"/>Female<br></td>
</tr>
<tr>
<td>Date Of Birth:</td><td><input type="text" name="DOB"/></td>
</tr>
<tr>
<td>Address:</td><td><textarea rows="3" cols="22" name="address"></textarea></td>
</tr>
<tr>
<td>Blood Group:</td><td><input type="text" name="blood_group"/></td>
</tr>
<tr>
<td>Mobile No.:</td><td><input type="text" name="mobile_no"/></td>
</tr>
<tr>
<td>State:</td><td><input type="text" name="state"/></td>
</tr>
<tr>
<td><input type="submit" value="Submit"></td>
</tr>
</table>
</form>
        </div>
        </div>