<div id="outer">
    <div id="header">
        <img id="logo" src="../../../../assets/image/26a16cbe6c24539d6fec034e43716d2e.png" alt="">
        <div id="heading">
            <div id="heading1">
                <h1><b>BLOOD BANK MANAGEMENT<br> SYSTEM </b> </h1>
                <h3>HEALTH & FAMILY WELFARE DEPARTMENT</h3>
            </div>
        </div>
    </div>

    <!----close header------->
    <div id="nav">
        <ul>
            <li><a [routerLink]="['/']" [ngClass]="{'active-header':activeRoute == '/'}">HOME </a></li>
            <li><a [routerLink]="['/','register']" [ngClass]="{'active-header':activeRoute == '/register'}">REGISTER</a>
            </li>
            <li><a [routerLink]="['/','contact']" [ngClass]="{'active-header':activeRoute == '/contact'}">CONTACT US</a>
            </li>
            <li><a [routerLink]="['/','about']" [ngClass]="{'active-header':activeRoute == '/about'}">ABOUT US</a></li>
        </ul>
    </div>
    <!----close navigation bar------>
</div>