<div id="main_img">
    <div id="img">
    </div>
</div>
<div id="outer1">
    <div id="about">
        <h1>ABOUT US</h1>
    </div>
    <div id="content">
        <h1>WHO WE ARE</h1>
        <p>Your financial gift can help a thousand children who struggle from illnesses. Your gift can provide the necessary medicine, treatment, and other essentials.

        </p>
        <p><b><h1>Blood Bank Management System</h1></b> Blood Bank Management Systemis designed & suitable for several Blood Bank either operating as individual organization or part of Hospital. It covers all Blood banking process from Donor recruitment,
            donor management, mobile sessions, component preparation, screening covering all tests, blood stock inventory maintenance, patient registration, cross matching, patient issues etc. Blood donation occurs when a person voluntarily has blood
            drawn and used for transfusions and/or made into biopharmaceutical medications by a process called fractionation (separation of whole-blood components). Donation may be of whole blood (WB), or of specific components directly (the latter called
            apheresis). Blood banks often participate in the collection process as well as the procedures that follow it.</p>
        <h4>GET INVOLVED</h4>
        <h2>Ways to help</h2>
        <p>Blood Center is public donation center with blood donation members in the changing health care system. Founded in 1978, Blood Center is one of the nation’s oldest and largest nonprofit transfusion medicine organizations. We provide a blood and
            volunteer services across the US. With our national footprint, deep community roots and specialized services, we are the thread that connects people and resources together to fuel progress in transfusion medicine.</p>
    </div>
    <div id="image_right">
    </div>
</div>