    
    <div id="main_img">
        <div id="img">
        </div>
    </div>
    <div id="welcome">
        <h1>
            WELCOME TO BLOOD BANK MANAGEMENT SYSTEM
        </h1>
    </div>
    <div id="para">
        Blood Bank Management System (BBMS) is designed to store, process, retrieve and analyze information concerned
        with the administrative and inventory management within a blood bank. This project aims at maintaining all the
        information pertaining to blood donors, different blood groups available in each blood bank and help them manage
        in a better way.
    </div>
    <div id=bottom>
    <div id="heading1">
        <a href="register.html">DONATE BLOOD</a>
    </div>
    <div id="box1">    
    </div>    
     <div id="heading2">
        <a href="register.html">GIVE BLOOD</a>
        </div>
        <div id="box2">    
        </div>    
        </div>
   <div id="lastpart">
    <h1>World Blood Donors Day</h1>
    <p>Every year, on 14 June, countries around the world celebrate World Blood Donor Day. The event serves to raise awareness of the need for safe blood and blood products and to thank blood donors for their life-saving gifts of blood.</p><br>
<div id="donateblood">
    </div>      
    </div>