<div id="main_img">
    <div id="img">
    </div>
</div>
<div id="contact">
    <h1><b>Contact Us</b></h1><br><br>
</div>
<div id="contact_outer">
    <div id="contactmain">
        <form [formGroup]="contactForm">
            <table><br><br>
                <tr>
                    <td>Your Name:</td>
                    <td><input type="text" name="name" formControlName="fullname" placeholder="Enter your Name"><br></td>
                </tr>
                <tr>
                    <td>Your E-mail address:</td>
                    <td><input type="text" name="email" formControlName="email" placeholder="Enter your Email" /></td>
                </tr>
                <tr>
                    <td>Contact No.:</td>
                    <td><input type="text" name="contact" formControlName="phone" placeholder="Enter your Mobile" /></td>
                </tr>
                <tr>
                    <td>Subject:</td>
                    <td><input type="text" name="subject" formControlName="subject" placeholder="Enter your Subject" /></td>
                </tr>
                <tr>
                    <td>Message:</td>
                    <td><textarea rows="4" cols="22" name="message" formControlName="message" placeholder="Enter your Message"></textarea></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Send a message" (click)="submit()" [disabled]="!contactForm.valid"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div id="contactmain1">

    <h1><b>Blood Donation Management System</b></h1>
    <b>City Center, New Zealand,3112</b><br>
    <b>Email: sales@bloodapps.com</b><br>
    <b>Email: support@blooddonation.com</b><br>
    <b>Mobile No.: +64 02251791203</b><br>

</div>